{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/custom/db.css') }}">
{% endblock %}

{% block title %}Database{% endblock %}

{% block content %}
{% autoescape false %}
<div class="container" style="padding: 0px !important;">
    <form method="POST" action="/db" autocomplete="off">
        <div class="container">
            <div class="row">
                <div class="column column-20">
                    <select name="collection" id="query-sel">
                        {% for name in collections %}
                            <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="column column-66">
                    <input type="text" name="query" style="width: 100% !important;" id="query-ipt">
                </div>
                <div class="column column-20">
                    <input class="button-outline" type="submit" value="Query" id="query-btn">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container db-container">
    <ul class="tree" id="db-tree"></ul>
</div>

<div class="btn-container">
    <button class="button button-outline" onclick="getDB();">Refresh</button>
</div>
{% endautoescape %}
{% endblock %}

{% block script %}
<script>
    // (() => {
    //     $("#query-btn").on("click", () => {
    //         $.post("/db", {
    //             query: $("#query-ipt").value,
    //             collection: $("#query-sel").value
    //         }, data => {
    //             $("#db-tree").html(parseTree(data, false));
    //         }).then(init);
    //     });
    // })()

    function init() {
        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function() {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            })
        }
    }

    function parseTree(data, isArray) {
        function color(text, color) {
            return `<span style="color: ${color} !important;">${text}</span>`;
        }

        let s = "";

        for (const [key, val] of Object.entries(data)) {
            let k = `<i>${isArray ? color(key, "#098658") : key}</i>`;

            if (typeof val === "string") {
                s += `<li>${k}: ${color(`"${val}"`, "#CE834A")}</li>`;
            } else if (typeof val == "number") {
                s += `<li>${k}: ${color(val, "#098658")}</li>`
            } else if (val == null) {
                s += `<li>${k}: ${color("null", "#1E2C83")}</li>`
            } else if (Array.isArray(val)) {
                s += `
                <li>
                    <span class="caret">${k}: ${color("Array", "#C586C0")}</span>
                    <ul class="nested">${parseTree(val, true)}</ul>
                </li>
                `;
            } else {
                s += `
                <li>
                    <span class="caret">${k}: ${color("Object", "#C586C0")}</span>
                    <ul class="nested">${parseTree(val, false)}</ul>
                </li>
                `;
            }
        }

        return s || "(empty)";
    }

    function getDB() {
        $.post("/db", data => {
            $("#db-tree").html(parseTree(data, false));
        }).done(init);
    }
</script>

{% autoescape false %}
    {% if data != None %}
        <script>$("#db-tree").html(parseTree({{ data | tojson }}, false)).promise().done(init);</script>
    {% else %}
        <script>getDB();</script>
    {% endif %}
{% endautoescape %}

{% endblock %}
