{% extends "base.html" %}

{% block title %}Logs{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/custom/logs.css') }}">
{% endblock %}

{% block content %}
<div class="container logs-container" id="logs">
    {% autoescape false %}
        {% for log in logs[::-1] %}
            {{ log.get_html() }}
        {% endfor %}
    {% endautoescape %}
</div>
{% endblock %}

{% block script %}
<script>
    setInterval(() => {
        $.post("/logs", (data) => {
            $("#logs").html(data)
        })
    }, 1000);
</script>
{% endblock %}
