.title-container {
    margin-top: 20px !important;
}

.title-item {
    vertical-align: text-bottom !important;
}

.logs {
    border: 1px solid black !important;
    border-radius: 10px !important;
    padding: 15px !important;
    height: 85vh !important;
    overflow: scroll !important;
}
